/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/* {border: 1px dotted black;}   
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
#wrapper { 
   width: 1000px; 
   min-height: 1200px; 
   margin: auto; 
   background-color: #ccf4fa; 
} 

header { 
   background-color: #fededb; 
   width: 950px; 
   height: 200px; 
   border-radius: 25px; 
   margin: 17px; 
   z-index: 2;
} 
   
   h1  { 
      text-align:center; 
   } 
   
   nav { 
      background-color: #ffecb3; 
      width: 155px; 
      height: 100px; 
      border-radius: 25px; 
      float: left; 
      margin: 19px; 
      z-index: 2;
   } 
   h2  { 
      text-align:center; 
   } 
   
   img { 
      background-color: #e6bffa; 
      width: 350px; 
      height: 350px; 
      border-radius: 25px; 
      margin: 17px;
      float: left;
      z-index: 2;
   }

   p {
      text-align: center;
   }

   div {
   width: 950px;
   height: 130px;
   background-color: #e6bffa;
   border-radius: 25px;
   margin: 17px;
   }

   
  